<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://laceibanet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>laceibanet.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LaCeibaNet</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LaCeibaNet</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LaCeibaDbv4Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:gp77zwicaw.database.windows.net,1433;Initial Catalog=LaCeibaDbv4;User ID=sepehr500@gp77zwicaw;Password=Cameron600" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LaCeibaNetv4.Models.LaCeibaDbv4Entities, LaCeibaNetv4" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:gp77zwicaw.database.windows.net,1433;Initial Catalog=LaCeibaDbv4;User ID=sepehr500@gp77zwicaw;Password=Cameron600" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LaCeibaNetv4.Models.ApplicationDbContext, LaCeibaNetv4" MigrationConfiguration="LaCeibaNetv4.Migrations.Configuration, LaCeibaNetv4" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AdminEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:gp77zwicaw.database.windows.net,1433;Initial Catalog=LaCeibaDbv4;User ID=sepehr500@gp77zwicaw;Password=Cameron600" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-LaCeibaNetv4-20140815021556;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AdminEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Areas.Admin.Models.AdminModels.csdl|res://*/Areas.Admin.Models.AdminModels.ssdl|res://*/Areas.Admin.Models.AdminModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;initial catalog=aspnet-LaCeibaNetv4-20140815021556;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:gp77zwicaw.database.windows.net,1433;Initial Catalog=LaCeibaDbv4;User ID=sepehr500@gp77zwicaw;Password=Cameron600" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-LaCeibaNetv4-20140815021556;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Areas.Admin.Models.UserControlModel.csdl|res://*/Areas.Admin.Models.UserControlModel.ssdl|res://*/Areas.Admin.Models.UserControlModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;initial catalog=aspnet-LaCeibaNetv4-20140815021556;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AdminEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Areas.Admin.Models.AdminModels.csdl|res://*/Areas.Admin.Models.AdminModels.ssdl|res://*/Areas.Admin.Models.AdminModels.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:gp77zwicaw.database.windows.net,1433;initial catalog=LaCeibaDbv4;user id=sepehr500@gp77zwicaw;password=Cameron600;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gp77zwicaw.database.windows.net,1433;Initial Catalog=LaCeibaDbv4;User ID=sepehr500@gp77zwicaw;Password=Cameron600</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Areas.Admin.Models.UserControlModel.csdl|res://*/Areas.Admin.Models.UserControlModel.ssdl|res://*/Areas.Admin.Models.UserControlModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:gp77zwicaw.database.windows.net,1433;initial catalog=LaCeibaDbv4;user id=sepehr500@gp77zwicaw;password=Cameron600;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LaCeibaDbv4Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.LaCeibaDbv4Model.csdl|res://*/Models.LaCeibaDbv4Model.ssdl|res://*/Models.LaCeibaDbv4Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:gp77zwicaw.database.windows.net,1433;Initial Catalog=LaCeibaDbv4;User ID=sepehr500@gp77zwicaw;Password=Cameron600"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>